/*--------------------------------------------------------------
 # Color Defualt
 --------------------------------------------------------------*/a {
  color: #88b145;
  outline: none;
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  color: black;
}
